* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Volkorn", Georgia, serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  display: block;
}
